# Allow this file.
!/.gitignore

# Allow workflow files.
!/workflows/
!/workflows/*.yaml

# Allow issue templates.
!/ISSUE_TEMPLATE/
!/ISSUE_TEMPLATE/*.yml

# Allow the pull request template.
!/PULL_REQUEST_TEMPLATE.md
