# Ignore everything.
*

# Allow some Visual Studio Code files.
!/.vscode/

# Allow this file.
!/.gitignore

# Allow the feature source files.
!/src/

# Allow the LICENSE file.
!/LICENSE

# Allow the README file.
!/README.md
