# Ignore everything.
*

# Allow some Visual Studio Code files.
!/.vscode/
!/.vscode/settings.json

# Allow this file.
!/.gitignore

# Allow the LICENSE file.
!/LICENSE

# Allow the README file.
!/README.md
